<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    </head>
    <body>
        {{ include('inc/navbar.html.twig') }}
        <div class="container">
            {% block body %}{% endblock %}  
        </div>
        
        <script src="/assets/bootstrap/js/jquery.min.js"></script>
    	<!-- <script src="/assets/bootstrap/js/bootstrap.js"></script> -->
	    <scr ipt src="/assets/bootstrap/js/bootstrap.min.js"></script>

         <!-- <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
    </script> -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>

