{% extends 'base.html.twig' %}
{% block title %}{{contact.title}}{% endblock %}
 	
 	{% block body %}
 	<h1> {{contact.title }} </h1>
 	<p> {{contact.body }} </p>
 	<hr>
 	<a href="/">Go Back</a>
 	{% endblock %}
	